/*_____________________________ M E D I A queries __________________________________*/
																								   /*_______Smartphones_______*/
@media only screen and (max-width: 320px) {
/*=======Styles go here=======*/
body{
	background: #f4f7ed;
}
}
																												/*_______Tablets______*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
/*=======Styles go here=======*/
body{
	background: #dde8ca;
}
}
																		    				/*_______Medium devices______*/
@media only screen and (min-width: 481px) and (max-width: 1200px) {
body{
	background: #c6d8a6;
}
}
/*======= ===============================================Styles go here=======*/

/*____________________        C l a s s selectors ____________________________*/
html {
	background: url(images/water03.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

body {
	 margin: 0px;
	 min-height: 100%;
	 width: 100%;

	 background-image: url("../images/water03.jpeg");
	 background-repeat: no-repeat;
	 background-size: cover;	 
	}
/*__________________________________________________navbar  header____________*/
.inline li {
  display: inline;
	word-spacing: 30px;
}

/*_______________________________________________________/ navbar  header_____*/
.well{
	font-size: 35px;
	text-align: center;
	font-family: 'Fredoka One', cursive;
	color: #263B4C;
	margin-top: 45px;
}
/*____________________________________________________________container_______*/
.container-fluid{
	padding-top: 12px;

}
.inline{
	padding-right: 100px;
	font-weight: bolder;
	font-size: 26px;
}
.row{
	text-align: center;
  display: inline-block;
  display:inline; /* ie7 fix */
  float: none;
}
/*______________________________________________________first column__________*/

.plumbers{
	font-size: 28px;
	color: #263B4C;
}
.col-xs-12{
	padding-top: 50px;
}
.text-left{
  float: left !important;
	color: #3D4C28;
}
/*_______________________________________________________/ first column_______*/
.name1 {
	text-decoration-style: solid;
	color: #3B3B37;
	font-size: 32px;
}
.pager-prev-fluid li{
	position: absolute;
	text-align: center;
}
.row{
	font-size: 18px;
}
.simplon{
	color: green;
}
table

/*____________________________________________________________container_______*/

/*______________________________________________________table container_______*/
caption{
	word-spacing: 20px;
	letter-spacing: 1px;
	font-size: 26px;
	color: #3B3B37;
	font-weight: bold;
	}
th{
	text-align: center;
}
.name2{
	background-color: #fff;
}
.name3{
	background-color: #fff;
	text-align: left;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}
table {
  table-layout: fixed;
}

/*____________________________________________________/ table container_______*/

/*______________________________________________________________ pager________*/
.pager{
	font-size: 26px;
}
/*_____________________________________________________________/ pager________*/
/*___________________________________________________________footer___________*/
footer{
	bottom:0;
	width: 100%;
	height:60px;   /* Height of the footer */
	font-weight: bolder;
	font-weight: 600;
	background: lightgrey;
	text-align: center;
	padding-top: 20px;
	min-width:100%;
}
